.App-logo{
  width: 50px;
}

,hidden {
  opacity: 0;
}


/* -------------------------------   Animations   ------------------------------- */

.fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.fadeout {
  animation: fadeout 3s;
  -moz-animation: fadeout 3s; /* Firefox */
  -webkit-animation: fadeout 3s; /* Safari and Chrome */
  -o-animation: fadeout 3s; /* Opera */
}

@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}

/* -------------------------------   End Animations   ------------------------------- */

.img-responsive {
  width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 3%;
}

.img-rounded-more {
  border-radius: 10%;
}

.img-rounded-circular {
  border-radius: 40%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.clearfix {
  clear: both;
}

.shadow {
  box-shadow: 10px 10px 5px silver;
}

h1 {
  font-size: 42px;
  font-weight:700;
}

h2 {
  font-size: 36px;
  font-weight:700;
}

h3 {
  font-size: 24px;
  font-weight:700;
}

h4 {
  font-size: 20px;
  font-weight:700;
}

.text-inverse {
  color: white;
}

.text-background-black {
  background-color: black;
}

.darkred {
  collor: white;
}

p {
  font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}