.MenuAppBar--AppBar-container {
   background-color: white !important;
   width: 50%; margin: 0 auto;
}

.MenuAppBar--AppBar-container-hamburger {
   font-family: 'Raleway', sans-serif !important;
}

/* .MenuAppBar--AppBar-menuButtons {
   margin: 0 10px 0 0;
   border: 1px solid #666;
   padding:8px;
   text-decoration: none;
   color: black;
   transition-duration: 0.3s;
} */

.MenuAppBar--AppBar-menuButtons-mui {
   margin: 0 15px 0 0 !important;
   border: 1px solid indianred !important;
   padding:8px;
   text-decoration: none;
   color: black;
   transition-duration: 0.3s;
}

.MenuAppBar--AppBar-menuButtons-mui:hover {
   background-color: rgb(226, 226, 226) !important;
   border: 1px solid rgb(0, 0, 0) !important;
}

.MenuAppBar--AppBar-button-container {
   border: 0px solid red;
   margin: 0 auto 0 30px;;
   width: 100%;
}

a {
   text-decoration: none;
}

.iconspace-ShowChart {
   color: rgb(32, 32, 32);
   margin-right: 5px;
}

.iconspace-Whatshot {
   color: red;
   margin-right: 5px;
}

.iconspace-Favorite {
   color: red;
   margin-right: 5px;
}

.iconspace-InfoOutline {
   color: rgb(0, 115, 214);
   margin-right: 5px;
}

.iconspace-ViewHeadline {
   color: rgb(32, 32, 32);
   margin-right: 5px;
}

.iconspace-LocalCafe {
   color: rgb(32, 32, 32);
   margin-right: 5px;
}


@media screen and (max-width:700px){
   .MenuAppBar--AppBar-button-container{
      display: none;
   }
   .MuiTypography-root-65MenuAppBar--AppBar-container-hamburger{
      display: none;
   }
}