.MenuAppBar--AppBar-container {
   background-color: indianred;
   width: 50%; margin: 0 auto;
}

/* .MenuAppBar--AppBar-menuButtons {
   margin: 0 10px 0 0;
   border: 1px solid #666;
   padding:8px;
   text-decoration: none;
   color: black;
   transition-duration: 0.3s;
} */

.MenuAppBar--AppBar-menuButtons-mui {
   margin: 0 15px 0 0;
   border: 1px solid #666;
   padding:8px;
   text-decoration: none;
   color: black;
   transition-duration: 0.3s;
}

.MenuAppBar--AppBar-menuButtons:hover {
   background-color: silver;
}

.MenuAppBar--AppBar-button-container {
   border: 0px solid red;
   margin: 0 auto 0 30px;;
   width: 100%;
}

a {
   text-decoration: none;
}

.iconspace-Whatshot {
   color: red;
   margin-right: 3px;
}

.iconspace-InfoOutline {
   color: rgb(109, 109, 109);
   margin-right: 3px;
}

.iconspace-ViewHeadline {
   color: rgb(0, 171, 214);
   margin-right: 3px;
}

.iconspace-LocalCafe {
   color: rgb(160, 160, 160);
   margin-right: 3px;
}


@media screen and (max-width:700px){
   .MenuAppBar--AppBar-button-container{
      display: none;
   }
   .MuiTypography-root-65MenuAppBar--AppBar-container-hamburger{
      display: none;
   }
}