.MenuAppBar--AppBar-container {
   background-color: indianred;
}

.MenuAppBar--AppBar-menuButtons {
   margin: 0 10px 0 0;
   border: 1px solid #666;
   padding:8px;
   text-decoration: none;
   color: black;
}