.NewsPage--container {
	margin: 0 auto;
	max-width: 1200px;
}

.NewsPage--pagename {
	text-align: center;
}

.NewsPage--block {
	/* background: #333; */
	padding: 1rem;
	/* max-width: 20rem; */
	margin: 0 0 1rem 0;
}

.NewsPage--container-inner-links {
	text-align: center;
}

.NewsPage--container-inner-links span {
	margin-right: 20px;
}