.FavoritesPage--container {
	margin: 50px 50px;
	text-align: left;
}

.FavoritesPage--container-favorites-nolist {
	color: silver;
	padding: 5% 10%;
	margin: 0 auto;
	text-align: center;
	width:100%;
}

.FavoritesPage--container-favorites {
	color: black;
	/* padding: 5% 5%; */
	margin: 0 auto;
	text-align: left;
	width:100%;
}

@media only screen and (max-width: 600px) {
	.FavoritesPage--container-favorites {
		 font-size: 14px;
		 padding: 3% 10%;
	}
}