
.DataTickerApi--main-wrapper-paper {
   margin-top: 20px;
   padding: 40px;
}


.DataTickerApi--main-table{
   cursor: pointer;
}

.DataTickerApi--col-head {
   height: 40px;
   padding:0 !important;
   text-align: left !important;
   max-width:100px;
}

.DataTickerApi--col {
   height: 40px;
   padding:0 !important;
   text-align: left !important;
   max-width:100px;
}

.DataTickerApi--col:hover {
   
}


/* .DataTickerApi--row:hover {
   background-color:#fffddd;
   border-top: 1px solid rgb(129, 129, 129);
   border-bottom: 1px solid rgb(129, 129, 129)
   
}

.DataTickerApi--row:hover .DataTickerApi--col  {
   background-color:#fffddd;
   border-top: 1px solid rgb(129, 129, 129);
   border-bottom: 1px solid rgb(129, 129, 129);
   font-size: 16px;
   font-weight: bold;
} */

.redNum {
   color:red;
}

.greenNum {
   color:green;
}

@media screen and (max-width:700px){
   .collapsible {
      display: none;
   }
}

@media screen and (max-width:400px){
   .DataTickerApi--main-wrapper-paper {
      margin-top: 10px;
      padding: 10px;
   }
}





